/* Manveer Khosa 8536872 */

/* These are the selectors I am using throughout my style sheet.
ID Selector, Element Selector, Group Selector, Pseudo class selector, Class Selector, Pseudo-element, and Descendant Selector. */

/* This will be the be the style settings for the body of my style sheet. */

html{ font-style: italic; 
      font-variant: small-caps; 
      font-weight: 700;
      font-size: 20px;
      line-height: 1.5;
      font-family: 'Times New Roman', Times, serif;
      font: normal small-caps normal 20px/1.5 'Times New Roman', Times, serif;
      background-color: #ffb6c1;}

/* These are the settings for the body. */

body{
    max-width: 1400px;
    margin: auto;
    border-style: solid;
    border-width: .25rem;
    border-color: #ff5f1f;
    background-color: fuchsia
}

/* this is the header and the footer */

header, footer { 
    background-image: linear-gradient(to top, pink, orange, magenta, red, cyan);
}

/* this is the style for the main */

main {
    width: 67%;
    float: left;
    padding: .25;
    border-top-style: double;
    border-bottom-style: inset;
    border-right-style: initial;
    border-left-style: groove;
    border-top-color: aquamarine;
    border-bottom-color: darksalmon;
    border-right-color: fuchsia;
    border-left-color: lightpink;
    border-top-width: .25rem;
    border-bottom-width: .5rem;
    border-right-width: .3rem;
    border-left-width: .4rem;
    background-color: fuchsia;    
}

aside {
    width: 23%;
    float: right;
    padding: .25rem;
    border-style: groove double dotted dashed;
    border-color: azure palevioletred papayawhip gainsboro;
    border-width: .25rem .2rem .4rem .5rem;
}
footer{
    clear:both;
}

/*This will be the style for h1 */
h1{
    color: crimson;
    font-size: 3rem;
    padding: .5em;
    text-align: center;
}

/* now I will be working on the block quote. */

blockquote{
    width: 60%;
    margin: auto;
    border: .5rem dotted pink;
    padding: .25rem;
    margin: .25rem;
    box-shadow: .5rem .75rem .5rem .5rem red;
}

/*This is where I will input figure styles. */

figure{
    border: .25rem hidden red;
    border-radius: .5rem;
    padding: .5rem;
}

figure > img {
    width: 60%;
    display: block;
    margin: auto;
    border: .25rem double royalblue;
    border-radius: .5rem;
}

figcaption{
    text-align: center;
}

q{
    padding: .25rem;
    margin: .25rem;
    border-bottom: .5rem initial indianred;
    display: block;
}

/* this is where I will input my id selector. */

#para2{
    color:greenyellow;
    padding: 0 .25rem .3rem .5rem;
    margin: 0 .25rem .3rem .5rem;
}

/*this is where I will in put my class selector */

.list{
    color:honeydew;
}

/* this is where I will 